<h1>
  <small>
    &nbsp;&nbsp;&nbsp; No. Items = {{items.length}}&nbsp;&nbsp;&nbsp;
  </small>
</h1>

<div class="form-group">
  <div class="col-xs-3">
    <input type="text" #itemText1 id="name" class="form-control" placeholder="name" 
    (keyup)="validate_name(itemText1.value)">
    <label for="name" class="error" id="error1" hidden="true" style="color: red">
      At least three characters without numbers</label>
  </div>
  <div class="col-xs-3">
    <input type="number" id="quantity" #itemText2 class="form-control" placeholder="quantity"
    (keyup)="validate_quantity(itemText2.value)">
    <label for="quantity" class="error" id="error2" hidden="true" style="color: red">
      Number between 1 and 20</label>
  </div>
  <div class="col-xs-3">
    <input type="number" #itemText3 id="price" class="form-control" placeholder="price"
    (keyup)="validate_price(itemText3.value)">
    <label for="price" class="error" id="error3" hidden="true" style="color: red">
      Number greater than 1</label>
  </div>
  <div class="col-xs-1">
    <input class="form-control" id="Total" type="text" placeholder="Total" disabled>
  </div>
  <div>
    <button (click)="validate(itemText1.value,itemText2.value,itemText3.value)" class="btn btn-primary"> new Item</button>
  </div>
</div>
<br>
<div class="container">
  <table class="table">
    <thead>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" class="success">
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td><a href="#" (click)="removeItem(item)" class="error">  (X) </a></td>
      </tr>
    </tbody>
  </table>
</div>
